.main_filter {
  display: grid;
}

.aside {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: var(--size-2) var(--size-4);
  border-bottom: 1px solid var(--gray-100);
  min-height: inherit;
  overflow-y: scroll;
}

.aside input:hover {
  cursor: pointer;
}

.products {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.product_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-6);
  margin-bottom: var(--size-4);
}

.filter {
  justify-content: space-between;
}

.filter > * {
  margin-top: 1rem;
}

.showFilters {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  z-index: 3;
  background-color: var(--white);
}

.hideFilters {
  position: absolute;
  display: none;
  height: 0;
}

.showFilters > *,
.hideFilters > * {
  margin-top: 1rem;
}

/* products */
.product_title {
  margin: var(--size-4) var(--size-1) var(--size-8) var(--size-4);
}

@media only screen and (min-width: 49rem) {
  .aside {
    min-height: 100vh;
    overflow-y: scroll;
  }

  .main_filter {
    grid-template-columns: 18.75rem auto;
  }

  .hideFilters {
    display: block;
  }

  .showFilters > *,
  .hideFilters > * {
    margin-top: var(--size-2);
  }

  .aside {
    grid-column: 1/2;
    grid-row: 1/-1;
    max-height: 100vh;
    padding-left: var(--size-8);
    padding-right: var(--size-4);
    border-right: 1px solid var(--gray-100);
    position: sticky;
    top: 0;
  }

  .aside > * {
    margin-top: var(--size-2);
  }

  .category > *,
  .price > *,
  .rating > *,
  .sort > * {
    margin-top: var(--size-2);
  }

  .products {
    grid-column: 2/-1;
    grid-row: 1/-1;
    padding-bottom: var(--size-16);
  }

  .product_title {
    margin: var(--size-5) var(--size-12) var(--size-8);
  }

  .product_list {
    align-self: flex-start;
    justify-content: space-evenly;
  }

  .price .range_slider {
    width: 100%;
  }
}
