@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.icon_badge .btn:hover {
  opacity: 1;
}

.card .img_card img {
  object-position: center;
}
