.signUp {
  padding-top: var(--size-8);
}

.signUp form {
  width: 18.75rem;
  margin: var(--size-8) auto;
  border-radius: var(--size-1);
  padding: var(--size-8);
  box-shadow: var(--size-2) var(--size-2) var(--size-4) rgb(109, 108, 108);
}

.signUp input {
  margin-bottom: var(--size-4);
}

.signUp .btn {
  align-self: center;
  width: 100%;
}

.signUp a {
  margin-top: var(--size-2);
  align-self: center;
  transition: 0.5s;
}

.signUp #check_box:hover {
  cursor: pointer;
}

.signUp a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 48rem) {
  .signUp form {
    width: 25%;
  }

  .btn_login {
    padding: var(--size-3) var(--size-6);
  }
}
